{
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "printWidth": 130,
  "trailingComma": "es5",
  "semi": true,
  "proseWrap": "always",
  "arrowParens": "always",
  "tabWidth": 2,
  "endOfLine": "crlf",
  "editor.formatOnSave": true
}
